* {
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
  background-color: rgb(0, 153, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.767);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 223, 236);
    height: 100px;
    width: 70%;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    font-size: 30px;
}
footer {
  background-color: rgb(0, 153, 255);
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.767);
}
